[Match]
Name={{item.key}}

[Network]
Bridge={{item.value.bridge}}
{% if item.value.networkSettings is defined %}
{% for setting in item.value.networkSettings %}
{{setting}}
{% endfor %}
{% endif %}
