[Match]
Name={{item.value.name}}

[Network]
{% if item.value.networkSettings is defined %}
{% for setting in item.value.networkSettings %}
{{setting}}
{% endfor %}
{% endif %}
