[Match]
Name={{item.key}}

[Network]
{% for vlanId in item.value.vlans %}
VLAN=vlan{{vlanId}}
{% endfor %}
LinkLocalAddressing=no
{% if item.value.networkSettings is defined %}
{% for setting in item.value.networkSettings %}
{{setting}}
{% endfor %}
{% endif %}
